@page
@model HealthcareApp.Pages_Doctors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].ContactNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doctor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DoctorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DoctorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DoctorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
