@page
@model HealthcareApp.Pages_MedicalRecords.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MedicalRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Treatment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Treatment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.RecordDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.RecordDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.PatientID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.PatientID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MedicalRecord.MedicalRecordID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
