@page
@model HealthcareApp.Pages_MedicalRecords.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.Treatment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.Treatment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.RecordDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.RecordDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalRecord.PatientID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalRecord.PatientID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedicalRecord.MedicalRecordID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
